*{
    padding: 0%;
    margin: 0%;
}

body{
    background-image: url('../Images/login1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.media li{
    display: inline;
    margin: 6px;
    font-size: 30px;
    
    
}

.mainForm{
    /* border: 2px solid rgb(0, 4, 255); */
    margin-left: 42%;
    margin-right: 10%;
    margin-top: 5%;
}

footer{
    
    margin-top:10%;
    /* border: 2px solid green; */
    padding-left: 40%;
}
